{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mysite/css/main.css' %}">
    
    
    
    {% if title %}
          <title>Mysite | {{title}}</title>
    {% else %}
          <title>Mysite </title>
    {% endif %}
        
</head>
<body>
    <header>
        <div class="logo">
            Mysite
        </div>
        <div class="nav-items">
            <ul>
                
                {% if user.is_authenticated %}
                    <li><a href="{% url 'mysite:logout' %}">Log Out</a></li>

                {% else %}
                    <li><a href="{% url 'mysite:home' %}">Home</a></li>
                    <li><a href="{% url 'mysite:signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'mysite:login' %}">Login</a></li>
                {% endif %}
                    
               
            </ul>
        </div>
    </header>
    <main>
        {% block body %}
            
        {% endblock body %}  
    </main>

    <footer>
        <p>
            Copyright &copy; Mysite <script>
                document.write(new Date().getFullYear());
            </script>
        </p>
    </footer>
    <script src="{% static 'mysite/js/index.js' %}"></script>
</body>
</html>